<h2>Home / Login</h2>


<app-navbar></app-navbar>

<form [formGroup]="loginForm" (ngSubmit)="checkUser()" novalidate>




  <div class="box">
    <h1 style="text-align: center; color: white">Login</h1>
    <div class="inputBox">
        <label>Email/Benutzername</label>
        <input #emailInp matInput placeholder="example@gmail.com" formControlName="email" />
    </div>

    <div class="inputBox">
        <label>Password</label>
        <input #pwInp matInput placeholder="password" type="password" formControlName="password"/>

   </div>
    <button style="background-color: green; color: white;margin-right: 10px;"  type ="submit">
        <span>Login</span>
    </button>
    <button style="background-color: red; color: white;"  type="reset" value="Reset">Abbrechen</button>

    <button style="background-color: lightsalmon; color: white;">Passwort vergessen</button>
    </div>
</form>

<div #unsuccessLogin *ngIf="div1" style="color: red;">Invalid Login Credentails! Try Again!</div>
