{% extends 'base.html' %}

{% block title %} Benutzerprofil - {{ userprofile.user.username }} {% endblock %}

{% block content %}
  <div class="container">
    {% if user == userprofile.user %}
      <div class="m-2">
        <a class="btn btn-primary" href="{% url 'user_profile_edit' userprofile.id %}">Profil Bearbeiten</a>
        <a class="btn btn-primary" href="{% url 'user_profile_relations' userprofile.user.id %}">Eventverlauf</a>
      </div>
    {% endif %}


    <h1>{{ userprofile.user.username }}'s Profil</h1>
    {% if user in userprofile.friends.all or user == userprofile.user %}
    <ul class="list-group m-4">
      {% if userprofile.avatar %}
      <p><b></b></p><img style="margin-bottom:20px;" src="{{ userprofile.avatar.url }}" width="200px">
      {% endif %}
      <li class="list-group-item"><b>Vollständiger Name:</b> {{ userprofile.user.first_name }} {{ userprofile.user.last_name }}</li>
      <li class="list-group-item"><b>Benutzername:</b> {{ userprofile.user.username }}</li>
      <li class="list-group-item"><b>E-mail:</b> {{ userprofile.user.email }}</li>
      <li class="list-group-item"><b>Geburtsdatum:</b> {{ userprofile.birthday }}</li>
    </ul>
    {% endif %}
  </div>
{% endblock %}
