<h2>Registrieren</h2>


<app-navbar></app-navbar>
<form [formGroup]="registerForm" (ngSubmit)="post()" novalidate>



  <style>
    .box .inputBox ::placeholder {
      color: white;
      opacity: 0.2;

    }
  </style>



  <div class="box">
    <h1 style="text-align: center; color: white">Registrieren</h1>
    <div class="inputBox">
      <label>Username</label>
      <input #username matInput placeholder="user123" formControlName="username" autocomplete="off" />

    </div>
    <div class="inputBox">
        <label>Email</label>
        <input #emailInp matInput placeholder="example@gmail.com" formControlName="email" autocomplete="off" />

    </div>

    <div class="inputBox">
        <label>Password</label>
        <input #pwInp matInput placeholder="password" type="password" formControlName="password" autocomplete="off"/>
    </div>
    <div class="inputBox">

        <label>Re-Enter Password</label>
        <input #repwInp matInput placeholder="reenter password"  type="password"formControlName="reenterPassword" autocomplete="off"/>
    </div>

    <button  style="background-color: green; color: white;margin-right: 10px;" type ="submit">
        <span>Registrieren</span>
    </button>
    <button style="background-color: red; color: white;" type="reset" value="Reset">Abbrechen</button>
  </div>
</form>
<div #unsuccessLogin *ngIf="div1" style="color: red;">Password and Reenter Password values do not match! Try Again!</div>
