<app-navbar></app-navbar>
<form [formGroup]="registerForm" (ngSubmit)="post()" novalidate>
    <h1>Register Yourself:</h1>



  <div class="box">
    <div class="inputBox">

        <label>Email</label>
        <input #emailInp matInput placeholder="example@gmail.com" formControlName="email" />

    </div>

    <div class="inputBox">
        <label>Password</label>
        <input #pwInp matInput placeholder="password" formControlName="password"/>
    </div>
    <div class="inputBox">

        <label>Re-Enter Password</label>
        <input #repwInp matInput placeholder="reenter password" formControlName="reenterPassword"/>
    </div>

    <button  style="background-color: blue; color: white;margin-right: 10px;" type ="submit">
        <span>Register</span>
    </button>
    <button style="background-color: red; color: white;" type="reset" value="Reset">Cancel</button>
  </div>
</form>
<div #unsuccessLogin *ngIf="div1" style="color: red;">Password and Reenter Password values do not match! Try Again!</div>
